body.responsive-ux {

  // START LAYOUT

  // open space to not overlap top navigation with content
  padding-top: 3.5rem !important;
  // open space to not overlap bottom navigation with footer
  padding-bottom: 58px !important;

  #navigation {
    button.navbar-toggler {
      .fas.fa-times {
        display: none;
        width: 20px;
      }
      .fas.fa-bars {
        display: block;
        width: 20px;
      }
      &.open {
        .fas.fa-times {
          display: block;
        }
        .fas.fa-bars {
          display: none;
        }
      }
    }
    .navbar-nav .nav-link {
      color: $gray-400;

      &:hover {
        color: $gray-300;
      }
    }
  }

  .offcanvas-collapse {
    top: 57px; /* Height of navbar */
    bottom: 0;
  }

  .watchlist-collapse {
    top: 0;
    bottom: 58px; /* Height of navbar */
    color: $gray-400;
  }

  .border-gray-500 {
    border-color: $gray-500 !important;
  }

  .watchlist-collapse, .offcanvas-collapse {
    position: fixed;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 9000;

    &.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      z-index: 9000;
    }
  }

  #bottom-navigation {
    height: 58px;

    button.navbar-toggler {
      line-height: 1.875rem;
      .fas.fa-times {
        width: 20px;
      }
    }
  }

  .breadcrumb {
    padding-bottom: 0;
    @extend .mt-2;
    .breadcrumb-item { line-height: 1.5rem; }
    .breadcrumb-item::after {
      display: inline-block;
      padding: 0 0.5rem 0 0.25rem;
      color: #6c757d;
      content: "/";
    }
    .breadcrumb-item:last-child::after { content: ''; }
    .breadcrumb-item + .breadcrumb-item { padding-left: 0; }

    // FIXME: This could be done overriding the variable $breadcrumb-divider: none;
    .breadcrumb-item + .breadcrumb-item::before { display: none; }
  }
  // END LAYOUT
}
