body.responsive-ux {

  // START LAYOUT

  // open space to not overlap top navigation with content
  padding-top: 3rem !important;
  // open space to not overlap bottom navigation with footer
  padding-bottom: 58px !important;

  .navbar-dark {
    button.navbar-toggler {
      .fas.fa-times {
        display: none;
        width: 20px;
      }
      .fas.fa-bars {
        display: block;
        width: 20px;
      }
      &.open {
        .fas.fa-times {
          display: block;
        }
        .fas.fa-bars {
          display: none;
        }
      }
    }
    .navbar-nav .nav-link {
      color: $gray-400;

      &:hover {
        color: $gray-300;
      }
    }
  }

  .offcanvas-collapse {
    top: 57px; /* Height of navbar */
    bottom: 0;
  }

  .watchlist-collapse {
    top: 0;
    bottom: 58px; /* Height of navbar */
    color: $gray-400;
  }

  .border-gray-500 {
    border-color: $gray-500 !important;
  }

  .watchlist-collapse, .offcanvas-collapse {
    position: fixed;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 9000;

    &.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      z-index: 9000;
    }
  }

  #bottom_navigation {
    height: 58px;
  }

  // END LAYOUT
}
